---
layout: blank
title: "About"
---

<div class="panel panel-default">
	<div class="panel-heading center">
		<span class="pull-left">
			<a class="btn btn-xs btn-danger btn-close" href="{{ site.baseurl }}/">&#10008</a>
		</span>

		<ul class="nav-about">
			<li class="active">
				<a class="btn btn-xs btn-default" href="#profile" data-toggle="tab" aria-expanded="false">Profile</a>
			</li>

			<li class="">
				<a class="btn btn-xs btn-default" href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a>
			</li>

			<li class="">
				<a class="btn btn-xs btn-default" href="#projects" data-toggle="tab" aria-expanded="false">Projects</a>
			</li>

			<li class="">
				<a class="btn btn-xs btn-default" href="#education" data-toggle="tab" aria-expanded="false">Education</a>
			</li>

			<li class="">
				<a class="btn btn-xs btn-default" href="#contact" data-toggle="tab" aria-expanded="false">Contact</a>
			</li>
		</ul>
	</div>

	<div class="panel-body">
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="profile">
				{% include library/profile.html %}
			</div>

			<div class="tab-pane fade" id="timeline">
				{% include library/timeline.html %}
			</div>

			<div class="tab-pane fade" id="projects">
				{% include library/projects.html %}
			</div>

			<div class="tab-pane fade" id="publications">
				{% include library/publications.html %}
			</div>

			<div class="tab-pane fade center" id="education">
				{% include library/education.html %}
			</div>

			<div class="tab-pane fade center" id="contact">
				<p><span class="glyphicon glyphicon-envelope"></span> lucas.li@sdchina.org.cn</p>
				<p><span class="glyphicon glyphicon-phone"></span> +86 159-6224-2054</p>
				<p><span class="glyphicon glyphicon-map-marker"></span> 6-3, SOHO II Tower A, Guanghua Road, Chaoyang District, Beijing, 100020</p>
			</div>
		</div>
	</div>
</div>

