---
layout: default
title: "about"
---

<ul class="nav nav-tabs">
	<li class="active"><a href="#profile" data-toggle="tab" aria-expanded="false">profile</a></li>

	<li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">timeline</a></li>

	<li class=""><a href="#projects" data-toggle="tab" aria-expanded="false">projects</a></li>

	<li class=""><a href="#publications" data-toggle="tab" aria-expanded="false">publications</a></li>

	<li class=""><a href="#education" data-toggle="tab" aria-expanded="false">education</a></li>

	<li class=""><a href="#contact" data-toggle="tab" aria-expanded="false">contact</a></li>
</ul>


<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active in" id="profile">
		<br>
		{% include library/profile.html %}
	</div>

	<div class="tab-pane fade" id="timeline">
		<br>
		{% include library/timeline.html %}
	</div>

	<div class="tab-pane fade" id="projects">
		<br>
		{% include library/projects.html %}
	</div>

	<div class="tab-pane fade" id="publications">
		<br>
		{% include library/publications.html %}
	</div>

	<div class="tab-pane fade center" id="education">
		<br>
		{% include library/education.html %}
	</div>

	<div class="tab-pane fade" id="contact">
		<br>
		{% include library/contact.html %}
	</div>
</div>