---
title: "Official Website"
---

<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
	{% include head.html %}
</head>

<body style="background: url('{{ site.baseurl }}/assets/img/bg3.jpg') center center; background-size: cover;">
	<a class="file pull-right" href="javascript:;" onclick="show()">
		<img src="{{ site.baseurl }}/assets/img/icon_launchpad.png"><br>
		Launchpad
	</a>

	<div id="launchpad" style="display: none;" onclick="hide()">
		{% include launchpad.html %}
	</div>
</body>
</html>
