<footer class="small">
	<hr>
	<p>
		<a href="{{ site.baseurl }}/contact.html">contact</a> /
		<a href="https://www.facebook.com/lucaslionline/" target="_blank">facebook</a> /
		<a href="https://www.linkedin.com/in/lucaslionline/" target="_blank">linkedin</a> /
		<a id="footer1" href="javascript:;" onclick="show()">explore</a>

		<span id="footer2" style="display:none;">
			<a href="{{ site.baseurl }}/imports/music.html">music</a> /
			<a href="{{ site.baseurl }}/imports/radio.html">radio</a> /
			<a href="{{ site.baseurl }}/miscellaneous.html">misc</a>
		</span>
	</p>


	<span>&copy;</span>
	<span><script type="text/javascript">document.write(new Date().getFullYear());</script></span>
	lucas li. all rights reserved.
</footer>

