.launchpad {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 50;
	background: url('/assets/img/bg4.jpg') center center;
	background-size: cover;
}
.file {
	width: 100px;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	margin: 20px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	vertical-align: top;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.file:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-color: #adadad;
	text-decoration: none;
	color: white;
}
input.search {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	margin: 30px 0;
	padding: 0 0.5em;
	color: rgba(255, 255, 255, 0.5);
}



.gray {
	color: gray;
}
.center {
	text-align: center;
}

.normalWeight {
	font-weight: normal;
}
.margin-auto {
	margin: 0 auto;
}

.clearance {
	margin-top: 20px;
}


.avatar {
	width: 200px;
	margin-right: 30px;
	margin-bottom: 20px;
	float: left;
}

.blogItem {
	margin-bottom: 2em;
}
.blogItem:last-of-type {
	margin-bottom: 0em;
}
.blogItem h4 a {
	color: #333;
}
.blogItem h4 a:hover {
	color: #000;
}

footer {
	color: gray;
	text-align: center;
	margin: 10px 0;
}
.footnotes {
	margin-top: 2em;
}
.footnotes:before {
	content: "References";
	font-weight: bold;
}
.footnotes ol {
	font-size: 0.8em;
	margin-top: 0.5em;
}
.footnotes p {
	margin: 0;
}

svg {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
path {
	fill: gray;
}
a:hover path {
	fill: #333;
}


nav {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2px;
}
.window {
	background: white;
}

.btn-close {
	border-radius: 50%;
	padding: 0;
	line-height: 1em;
	width: 1.2em;
	height: 1.2em;
}


.nav-about {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav-about li {
	display: inline-block;
}
.nav-about > li.active > a {

}

img.profile {
	border-radius: 50%;
	margin: 2em;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
	height: 480px;
	margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
	height: 480px;
	background-color: #777;
}

.house {
	margin-bottom: 0;
}



/* contact
-------------------------------------------------- */
.contact input, 
.contact textarea {
	border: 0;
	border-bottom: 1px dotted #ccc;
	color: #ccc;
	width: 100%;
	display: block;
	margin: 1em 0;
}
.contact textarea {
	height: 12em;
}
.contact input:focus,
.contact textarea:focus {
	outline: none;
}


/* music
-------------------------------------------------- */
audio {
	width: 100%;
}

ol#playlist li {
	margin: 0.5em 0;
}





/* cover
-------------------------------------------------- */
.cover {
	width: 100%;
	height: 100px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -50%;
}

.cover a {
	color: #333;
}
.cover:hover {
	color: #000;
}


/* gallery
-------------------------------------------------- */
.my-gallery {
	width: 100%;
	float: left;
}
.my-gallery img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}
.my-gallery figure {
}
.my-gallery figcaption {
	display: none;
}



/* timeline
-------------------------------------------------- */
ul.timeline {
	list-style-type: none;
	position: relative;
	border-left: 2px solid #ccc;
	margin-left: 4em;
}
ul.timeline li {
	padding: 1em 0;
}
ul.timeline .dot {
	background: white;
	width: 1em;
	height: 1em;
	border: 0.2em solid gray;
	border-radius: 50%;
	position: absolute;
	left: -0.6em;
}

