<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
	{% include head.html %}
</head>

<body style="background: url('{{ site.baseurl }}/assets/img/bg3.jpg') center center fixed; background-size: cover;">
	

	<div class="container clearance">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{ page.title }}

				<span class="pull-left">
					<a class="btn btn-xs btn-danger dot" href="{{ site.baseurl }}/">&#10008</a>
				</span>
			</div>

			<div class="panel-body">
				{{ content }}
			</div>
		</div>
	</div>
</div>
</body>
</html>